.weatherDetail {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .weatherDetail .maincard {
    width: 500px;
    margin-top: 20px;
    align-self: center;
    padding: 50px;
    border-radius: 20px;
    position: relative;
    background: rgb(245, 242, 242);
    border: 1px solid black;
  }
  
  .weatherDetail .maincard .cardtitle {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
  }
  
  .weatherDetail .maincard .cardsubtitle {
    position: absolute;
    left: 10px;
  
    color: grey;
    margin-top: -8px;
  }
  .weatherDetail h1 {
    font-size: 5rem;
    margin: -10px;
    margin-left: -150px;
  }
  
  .weatherDetail .weather-icon {
    width: 100px;
  
    position: absolute;
    top: 50px;
  }
  
  .weatherDetail .weather-main {
    position: absolute;
  
    top: 120px;
    left: 310px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .weatherDetail .weather-description {
    position: absolute;
    left: 10px;
    font-size: 1.4rem;
  }
  .weatherDetail .weatherdetails {
    margin-left: 50px;
    margin-right: 50px;
  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .weatherDetail .weatherdetails .section1 {
    justify-self: right;
    width: 300px;
  }
  
  h4 {
    text-align: left;
    margin-right: 30px;
    font-size: 1.2rem;
  }
  
  td {
    border-bottom: 2px dashed grey;
  }
  
  .weatherDetail .weatherdetails span {
    font-size: 1.2rem;
  }